{% extends "layouts/main.html" %}

{% set pageName = "Apply for support" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for support</h1>
    <p class="govuk-body">Use this service to apply for support and check if you are eligible.</p>
    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Your date of birth</li>
      <li>Your National Insurance number</li>
      <li>Details about your current situation</li>
    </ul>
    <p class="govuk-body">It takes around <strong>10 minutes</strong> to complete.</p>
    {{ govukButton({
      text: "Start now",
      href: "/applicant-type",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
